.video1 {
    width: 100%;
}
.title1 {
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}
.author1,
.stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
}
.author1 {
    margin-bottom: 4px;
}


.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}
.channel1 {
    width: 40px;
    border-radius: 50px;
}

.first-video {
    cursor: pointer;
}
.thumbnail-row {
    margin-bottom: 12px;
    position: relative;
}
p {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
}
.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}


@media (max-width: 750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}



body {
    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(248, 248, 248);
}

.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    z-index: 100;
    border-bottom: 1px solid rgb(228, 228, 228);

}
.left-section {
    display: flex;
    align-items: center;
}
.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.right-section {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}
.hamburger-menu {
    height: 24px;
    margin: auto 24px;
}
.youtube-logo {
    height: 20px;
}

.search-button {
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
    position: relative;
}

.search-button .tooltip,
.voice-button .tooltip,
.upload-icon-container .tooltip {
    font-family: Roboto, Arial;
    position: absolute;
    background-color: gray;
    color: white;
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.upload-icon-container:hover .tooltip {
    opacity: 1;
}
.voice-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 245, 245);
    position: relative;
}
.voice-search-icon {
    height: 24px;
}

.search-button,
.voice-button,
.upload-icon-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid gray;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
}
.search-bar::placeholder {
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
}
.search-icon {
    height: 25px;
}
.upload-icon {
    height: 24px;
}
.youtube-apps-icon {
    height: 24px;
}
.notifications-icon {
    height: 24px;
}

.noti-container {
    position: relative;
}

.noti-count {
    position: absolute;
    top: 10px;
    right: 80px;
    background-color: red;
    color: white;
    font-family: Roboto, Arial;
    font-size: 11px;
    padding: 2px 5px;
    border-radius: 10px;
}
.car {
    height: 32px;
    border-radius: 16px;
}
.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}



.video-time {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 4px;
    border-radius: 2px;
}

.sidebar-link {
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: rgb(235, 235, 235);
}
.sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div {
    font-family: Roboto,Arial;
    font-size: 10px;

}